<div class="header-fields">
  <div class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-12 medium-3 columns">
          <%= f.input :name, hint: 'Fill in the headers name' %>
        </div>

        <div class="small-12 medium-7 columns">
          <%= f.input :value, hint: 'Fill in the headers value' %>
        </div>

        <div class="small-12 medium-2 columns text-center">
          <label>&nbsp;</label>
          <%= link_to_remove_association f, wrapper_class: 'header-fields', class: 'button tiny' do %>
            <i class="fa fa-remove"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>


</div>
