<div class="footer">
  <div class="row">
    <div class="small-12 columns">
      <pre>DuckRails is an open source tool and you can find it at <a target="_blank" href="http://github.com/iridakos/duckrails">GitHub</a>.
Feel free to open issues <a target="_blank" href="https://github.com/iridakos/duckrails/issues#fork-destination-box">here</a>.
There's a usage tutorial <a target="_blank" href="http://www.arubystory.com/p/duckrails-tutorial.html">here</a>.</pre>
    </div>
  </div>
</div>
