<div class="footer">
  <div class="row">
    <div class="small-12 columns">
      <p>
        <a href="https://github.com/iridakos/duckrails" target="_blank"><strong>DuckRails</strong> v<%= Duckrails::Application::VERSION %></a>
      </p>

      <p>
        Visit application's <a href="https://github.com/iridakos/duckrails/wiki" target="_blank">wiki pages</a> for usage guides and examples.
      </p>

      <p>
        Found a bug or you have something to suggest? Open issues at the <a href="https://github.com/iridakos/duckrails/issues" target="_blank">application's GitHub repository</a>.
      </p>
    </div>
  </div>
</div>
