<div class="footer">
  <div class="row">
    <div class="small-12 columns">
      <pre>DuckRails is an open source tool and you can find it at <a target="_blank" href="http://github.com/iridakos/duckrails">GitHub</a>.
Feel free to open issues <a target="_blank" href="https://github.com/iridakos/duckrails/issues">here</a>.
There's a usage tutorial <a target="_blank" href="http://iridakos.com/2016/04/01/duckrails-guide.html">here</a>.</pre>
    </div>
  </div>
</div>
