a.home-link {
  span {
    padding-left: 10px;
  }
}

img.duckrails-logo {
  width: 200px;
  height: 200px;
}

.welcome {
  display: inline-block;
  margin: auto;

  & > div {
    margin-right: 20px;
  }

  .home-welcome {
    padding-top: 50px;
    margin-right: 0;
  }
}
